In [2]:
import numpy as np
import pandas as pd
from pymongo import MongoClient

#Connect to MongoDBs
conn = MongoClient("localhost", 27017)
db = conn["crowd-db"]
sensor_e1 = db["e1"]

data = pd.read_csv("two_week_data.csv")
data.head()

   dayOfMonth  dayOfWeek  is_weekend  hour  packetEvents
0          13          0           0     0           198
1          13          0           0     1           119
2          13          0           0     2           193
3          13          0           0     3            50
4          13          0           0     4           150

In [4]:
dicts = data.to_dict(orient='records')

sensor_e1.insert_many(dicts)